<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>kind</key>
		<string>电子用品</string>
		<key>price</key>
		<string></string>
		<key>detail</key>
		<string></string>
		<key>GoodID</key>
		<string>1</string>
		<key>name</key>
		<string>Cpp</string>
		<key>customerList</key>
		<array/>
		<key>userID</key>
		<string>0</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>电子用品</string>
		<key>detail</key>
		<string></string>
		<key>price</key>
		<string></string>
		<key>GoodID</key>
		<string>2</string>
		<key>name</key>
		<string>C</string>
		<key>customerList</key>
		<array/>
		<key>userID</key>
		<string>0</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>日常用品</string>
		<key>detail</key>
		<string></string>
		<key>price</key>
		<string></string>
		<key>GoodID</key>
		<string>3</string>
		<key>name</key>
		<string>C#</string>
		<key>customerList</key>
		<array/>
		<key>userID</key>
		<string>0</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>电子用品</string>
		<key>detail</key>
		<string></string>
		<key>price</key>
		<string></string>
		<key>GoodID</key>
		<string>4</string>
		<key>name</key>
		<string>Objective-C</string>
		<key>customerList</key>
		<array/>
		<key>userID</key>
		<string>0</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>日常用品</string>
		<key>detail</key>
		<string></string>
		<key>price</key>
		<string></string>
		<key>GoodID</key>
		<string>5</string>
		<key>name</key>
		<string>Swift</string>
		<key>customerList</key>
		<array/>
		<key>userID</key>
		<string>0</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>电子用品</string>
		<key>detail</key>
		<string></string>
		<key>price</key>
		<string></string>
		<key>GoodID</key>
		<string>6</string>
		<key>name</key>
		<string>Java</string>
		<key>customerList</key>
		<array/>
		<key>userID</key>
		<string>0</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>食品</string>
		<key>detail</key>
		<string></string>
		<key>price</key>
		<string></string>
		<key>GoodID</key>
		<string>7</string>
		<key>name</key>
		<string>Go</string>
		<key>customerList</key>
		<array/>
		<key>userID</key>
		<string>0</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>电子用品</string>
		<key>detail</key>
		<string></string>
		<key>price</key>
		<string></string>
		<key>GoodID</key>
		<string>8</string>
		<key>name</key>
		<string>Ruby</string>
		<key>customerList</key>
		<array/>
		<key>userID</key>
		<string>0</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>食品</string>
		<key>detail</key>
		<string></string>
		<key>price</key>
		<string></string>
		<key>GoodID</key>
		<string>9</string>
		<key>name</key>
		<string>Python</string>
		<key>customerList</key>
		<array/>
		<key>userID</key>
		<string>0</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>电子用品</string>
		<key>detail</key>
		<string></string>
		<key>price</key>
		<string></string>
		<key>GoodID</key>
		<string>10</string>
		<key>name</key>
		<string>English</string>
		<key>customerList</key>
		<array/>
		<key>userID</key>
		<string>0</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>电子用品</string>
		<key>detail</key>
		<string></string>
		<key>price</key>
		<string></string>
		<key>GoodID</key>
		<string>11</string>
		<key>name</key>
		<string>Chinese</string>
		<key>customerList</key>
		<array/>
		<key>userID</key>
		<string>0</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>电子用品</string>
		<key>detail</key>
		<string></string>
		<key>price</key>
		<string></string>
		<key>GoodID</key>
		<string>12</string>
		<key>name</key>
		<string>Spanish</string>
		<key>customerList</key>
		<array/>
		<key>userID</key>
		<string>0</string>
	</dict>
</array>
</plist>
